# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity C# Survival Guide.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\gamedev learning\gamedev-learning\gamedevhq\Unity C# Survival Guide\.idea\.idea.Unity C# Survival Guide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
